.vaccination-route-loader-bg-container {
  min-height: 100vh;
  width: 100%;
  background-color: #161625;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vaccination-route-failure-bg-container {
  min-height: 100vh;
  width: 100%;
  background-color: #161625;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vaccination-route-failure-button {
  border: none;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  background-color: #2563eb;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 13px 25px 13px 25px;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .vaccination-route-failure-button {
    font-size: 20px;
  }
}

.vaccination-route-success-bg-container {
  min-height: 100vh;
  width: 100%;
  background-color: #161625;
  margin: 0px 0px 0px 0px;
  padding: 0px 5px 30px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vaccination-route-header-card {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 30px 0px 30px 0px;
  padding: 0px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
  .vaccination-route-header-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.header-card-details-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 12px 0px 12px 0px;
  padding: 30px 25px 30px 25px;
  background-color: #2f2f43;
  border-radius: 10px;
  border: 2px solid #a226dc;
}

@media screen and (min-width: 768px) {
  .header-card-details-card {
    width: 46%;
    margin: 12px 0px 12px 0px;
  }
}

.details-card-image {
  height: 50px;
  width: 50px;
  margin: 0px 25px 20px 0px;
  border: 2px solid #a226dc;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .details-card-image {
    height: 60px;
    width: 60px;
    margin: 0px 25px 20px 25px;
  }
}

.details-card-stats-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 70%;
}

.stats-card-heading-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
}

.stats-card-heading-card-heading {
  width: 100%;
  word-wrap: break-word;
  margin: 0px 0px 8px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  color: #cbd5e1;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .stats-card-heading-card-heading {
    font-size: 18px;
  }
}

.stats-card-heading-card-description {
  width: 100%;
  word-wrap: break-word;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .stats-card-heading-card-description {
    font-size: 18px;
  }
}

.stats-card-description-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

@media screen and (min-width: 900px) {
  .stats-card-description-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.stats-card-description-card-sub-card-one {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
  margin: 0px 20px 0px 0px;
}

@media screen and (min-width: 900px) {
  .stats-card-description-card-sub-card-one {
    width: 48%;
  }
}

.stats-card-description-card-sub-card-one-heading {
  width: 100%;
  word-wrap: break-word;
  margin: 0px 0px 8px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  color: #cbd5e1;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .stats-card-description-card-sub-card-one-heading {
    font-size: 18px;
  }
}

.stats-card-description-card-sub-card-one-description {
  width: 100%;
  word-wrap: break-word;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .stats-card-description-card-sub-card-one-description {
    font-size: 18px;
  }
}

.stats-card-description-card-sub-card-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
}

@media screen and (min-width: 900px) {
  .stats-card-description-card-sub-card-two {
    width: 48%;
    margin: 0px 0px 0px 20px;
  }
}

.stats-card-description-card-sub-card-two-heading {
  width: 100%;
  word-wrap: break-word;
  margin: 0px 0px 8px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  color: #cbd5e1;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .stats-card-description-card-sub-card-two-heading {
    font-size: 18px;
  }
}

.stats-card-description-card-sub-card-two-description {
  width: 100%;
  word-wrap: break-word;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .stats-card-description-card-sub-card-two-description {
    font-size: 18px;
  }
}

.vaccination-by-doses-and-age-bg-container {
  width: 90%;
  max-width: 1200px;
  margin: 25px 0px 25px 0px;
  padding: 30px 20px 30px 20px;
  background-color: #1c1c2b;
  border-radius: 10px;
  border: 2px solid #a226dc;
}

.vaccination-by-doses-and-age-main-heading {
  width: 100%;
  word-wrap: break-word;
  font-size: 18px;
  margin: 0px 0px 20px 20px;
  padding: 0px 0px 0px 0px;
  color: #94a3b8;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .vaccination-by-doses-and-age-main-heading {
    font-size: 22px;
  }
}

.by-doses-and-age-options-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 25px 0px;
  padding: 0px 0px 0px 0px;
}

.by-doses-button {
  color: #94a3b8;
  font-size: 16px;
  cursor: pointer;
  outline: none !important;
  padding: 8px 12px 8px 12px;
  margin: 0px 25px 0px 20px;
  border: none;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .by-doses-button {
    font-size: 18px;
  }
}

.apply-by-doses-style {
  color: #fcea4e;
  padding: 8px 12px 5px 12px;
  border-bottom: 2px solid #fcea4e;
}

.by-age-button {
  color: #94a3b8;
  font-size: 16px;
  cursor: pointer;
  outline: none !important;
  padding: 8px 12px 8px 12px;
  margin: 0px 20px 0px 0px;
  border: none;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .by-age-button {
    font-size: 18px;
  }
}

.apply-by-age-style {
  color: #fcea4e;
  padding: 8px 12px 5px 12px;
  border-bottom: 2px solid #fcea4e;
}

.by-doses-and-age-chart-bg-container {
  width: 100%;
  overflow: auto;
  padding: 20px 0px 20px 0px;
}

.vaccination-route-bar-charts-bg-container {
  width: 90%;
  max-width: 1200px;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .vaccination-route-bar-charts-bg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.vaccination-by-pie-bg-container {
  width: 100%;
  height: 530px;
  margin: 0px 0px 25px 0px;
  padding: 30px 20px 30px 20px;
  background-color: #1c1c2b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 2px solid #a226dc;
}

@media screen and (min-width: 768px) {
  .vaccination-by-pie-bg-container {
    width: 45%;
    margin: 10px 10px 20px 10px;
  }
}

.vaccination-by-pie-container-heading {
  width: 100%;
  word-wrap: break-word;
  font-size: 18px;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  color: #94a3b8;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .vaccination-by-pie-container-heading {
    font-size: 22px;
  }
}

.temp-pie-container {
  align-self: center;
  height: 100%;
  width: 100%;
}

.vaccination-route-main-heading {
  width: 90%;
  max-width: 1200px;
  padding: 50px 0px 0px 0px;
  margin: auto;
  text-align: left;
  color: #94a3b8;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .vaccination-route-main-heading {
    font-size: 22px;
  }
}

.home-icon {
  height: 20px;
  width: 20px;
  margin: 0px 10px 5px 10px;
  color: #94a3b8;
}

@media screen and (min-width: 768px) {
  .home-icon {
    height: 25px;
    width: 25px;
  }
}
