.state-specific-route-temp-container {
  min-height: 95vh;
  width: 100%;
  background-color: #161625;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.state-specific-route-loading-bg-container {
  height: 50vh;
  margin: 0px 0px 0px 0px;
  padding: 30px 0px 30px 0px;
  width: 100%;
  background-color: #161625;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.state-specific-route-success-bg-container {
  width: 100%;
  background-color: #161625;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 30px 0px;
}

.state-specific-route-success-component-header-card {
  width: 90%;
  max-width: 1200px;
  margin: 0px 0px 0px 0px;
  padding: 40px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header-card-title-card {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 500px) {
  .header-card-title-card {
    width: 50%;
  }
}

.header-card-title-card-heading {
  background-color: rgba(2, 132, 199, 0.16);
  border-radius: 8px;
  width: 100%;
  max-width: 200px;
  color: #0ea5e9;
  border: 2px solid #0ea5e9;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 0px 0px 10px 0px;
  padding: 12px 15px 12px 15px;
}

@media screen and (min-width: 768px) {
  .header-card-title-card-heading {
    font-size: 18px;
  }
}

.header-card-title-card-description {
  font-size: 14px;
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  color: #cbd5e1;
}

@media screen and (min-width: 768px) {
  .header-card-title-card-description {
    font-size: 16px;
  }
}

.header-card-status-card {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 500px) {
  .header-card-status-card {
    width: 50%;
  }
}

.header-card-status-card-heading {
  font-size: 14px;
  color: #94a3b8;
  text-align: right;
  font-weight: 500;
  width: 100%;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}

@media screen and (min-width: 500px) {
  .header-card-status-card-heading {
    text-align: right;
  }
}

.header-card-status-card-description {
  color: #94a3b8;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .header-card-status-card-description {
    font-size: 18px;
  }
}

.state-specific-route-success-component-overall-stats-card {
  width: 90%;
  max-width: 1200px;
  list-style-type: none;
  padding: 35px 0px 35px 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.state-specific-overall-stats-card {
  width: 100%;
  max-width: 210px;
  padding: 0px 0px 0px 0px;
  margin: 20px 30px 20px 30px;
  border: none;
}

.state-specific-overall-stats-card-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  padding: 25px 30px 25px 30px;
}

.state-specific-overall-stats-card-button-heading {
  text-align: center;
  font-size: 18px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
}

@media screen and (min-width: 768px) {
  .state-specific-overall-stats-card-button-heading {
    font-size: 20px;
  }
}

.state-specific-overall-stats-card-button-image {
  height: 40px;
  width: 40px;
  margin: 0px 0px 20px 0px;
}

@media screen and (min-width: 768px) {
  .state-specific-overall-stats-card-button-image {
    height: 45px;
    width: 45px;
  }
}

.state-specific-overall-stats-card-button-description {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .state-specific-overall-stats-card-button-description {
    font-size: 23px;
  }
}

.state-specific-overall-confirmed-cases-card-heading {
  color: #ff073a;
}

.state-specific-overall-confirmed-cases-card-description {
  color: #ff073a;
}

.state-specific-overall-active-cases-card-heading {
  color: #007bff;
}

.state-specific-overall-active-cases-card-description {
  color: #007bff;
}

.state-specific-overall-recovered-cases-card-heading {
  color: #28a745;
}

.state-specific-overall-recovered-cases-card-description {
  color: #28a745;
}

.state-specific-overall-deceased-cases-card-heading {
  color: #6c757d;
}

.state-specific-overall-deceased-cases-card-description {
  color: #6c757d;
}

.apply-confirmed-bg-color {
  background-color: #331427;
  border: 2px solid #ff073a;
}

.apply-active-bg-color {
  background-color: #132240;
  border: 2px solid #007bff;
}

.apply-recovered-bg-color {
  background-color: #182829;
  border: 2px solid #28a745;
}

.apply-deceased-bg-color {
  background-color: #212230;
  border: 2px solid #6c757d;
}

.state-specific-route-success-component-district-wise-stats-bg-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0px 50px 0px;
  margin: 0px 0px 0px 0px;
}

.top-districts-heading {
  font-size: 18px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 10px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .top-districts-heading {
    font-size: 20px;
  }
}

.confirmed-districts-heading {
  color: #ff073a;
}

.active-districts-heading {
  color: #007bff;
}

.recovered-districts-heading {
  color: #28a745;
}

.deceased-districts-heading {
  color: #6c757d;
}

.ncp-report-bg-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding: 30px 20px 30px 20px;
}

@media screen and (min-width: 768px) {
  .ncp-report-bg-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px 30px 0px;
  }
}

.state-image {
  width: 70%;
  max-width: 350px;
  background: transparent;
  margin: 0px 0px 0px 0px;
}

.report-stats-bg-container {
  width: 45%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 0px;
  margin: 50px 0px 0px 0px;
}

.report-stats-heading {
  width: 100%;
  font-size: 18px;
  color: #94a3b8;
  font-weight: 400;
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 0px 0p 30px 0px;
}

@media screen and (min-width: 768px) {
  .report-stats-heading {
    font-size: 23px;
    text-align: center;
  }
}

.population-report-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}

.population-report-card-heading {
  width: 100%;
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 8px 0px;
}

@media screen and (min-width: 768px) {
  .population-report-card-heading {
    text-align: center;
  }
}

.population-report-card-description {
  width: 100%;
  text-align: left;
  color: #94a3b8;
  font-weight: 500;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .population-report-card-description {
    font-size: 25px;
    text-align: center;
  }
}

.tested-report-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}

.tested-report-card-heading {
  width: 100%;
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 8px 0px;
}

@media screen and (min-width: 768px) {
  .tested-report-card-heading {
    text-align: center;
  }
}

.tested-report-card-description {
  width: 100%;
  text-align: left;
  color: #94a3b8;
  font-weight: 500;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .tested-report-card-description {
    font-size: 25px;
    text-align: center;
  }
}

.state-specific-district-wise-stats-list-bg-container {
  width: 100%;
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.state-specific-districts-wise-stats-item {
  width: 50%;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 0px;
  margin: 13px 13px 13px 13px;
  color: #cbd5e1;
  font-weight: 400;
  font-size: 16px;
  word-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .state-specific-districts-wise-stats-item {
    font-size: 18px;
  }
}

.district-wise-stat-item-heading {
  padding: 0px 0px 0px 0px;
  margin: 0px 10px 0px 0px;
}

.district-wise-stat-item-description {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.state-specific-route-network-failure-bg-container {
  min-height: 90vh;
  width: 100%;
  background-color: #161625;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.state-specific-route-network-failure-button {
  border: none;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  background-color: #2563eb;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 13px 25px 13px 25px;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .state-specific-route-network-failure-button {
    font-size: 20px;
  }
}

.state-specific-route-route-failure-bg-container {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161625;
  padding: 30px 50px 30px 50px;
}

.route-failure-heading {
  width: 100%;
  color: #ffffff;
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .route-failure-heading {
    font-size: 20px;
  }
}

.route-failure-description {
  width: 100%;
  color: #ffffff;
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 35px 0px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .route-failure-description {
    font-size: 20px;
  }
}

.state-codes-list-bg-container {
  width: 100%;
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.states-code-list-item {
  width: 100%;
  max-width: 200px;
  padding: 0px 0px 0px 0px;
  margin: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.states-code-list-item-heading {
  width: 70%;
  word-wrap: break-word;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  color: #ffffff;
  font-size: 18px;
}

.states-code-list-item-description {
  width: 30%;
  word-wrap: break-word;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  color: #ffffff;
  font-size: 18px;
}
