.chart-loader-bg-container {
  height: 200px;
  width: 90%;
  max-width: 1000px;
  padding: 40px 10px 40px 10px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bar-chart-bg-container {
  width: 90%;
  max-width: 1200px;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  padding: 30px 0px 30px 0px;
}

.spread-trends-bg-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 50px 0px;
  margin: 0px 0px 0px 0px;
}

.spread-trends-heading {
  color: #cbd5e1;
  font-weight: 500;
  font-size: 23px;
  text-align: left;
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
}

@media screen and (min-width: 768px) {
  .spread-trends-heading {
    font-size: 28px;
  }
}

.district-select-input {
  background-color: #132240;
  width: 100%;
  max-width: 250px;
  padding: 15px 18px 15px 18px;
  margin: 10px 0px 10px 0px;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: 2px solid #2304f1;
  font-size: 17px;
  font-weight: 500;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .district-select-input {
    align-self: flex-end;
  }
}

.bar-chart {
  margin: auto;
}

.confirmed-line-chart-bg-container {
  width: 90%;
  max-width: 1000px;
  overflow-x: auto;
  background-color: #331427;
  border-radius: 10px;
  padding: 30px 10px 30px 10px;
  margin: 25px 0px 25px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #ff073a;
}

.line-chart {
  margin: auto !important;
}

.active-line-chart-bg-container {
  width: 90%;
  max-width: 1000px;
  overflow-x: auto;
  background-color: #132240;
  border-radius: 10px;
  padding: 30px 10px 30px 10px;
  margin: 25px 0px 25px 0px;
  border: 2px solid #007bff;
}

.recovered-line-chart-bg-container {
  width: 90%;
  max-width: 1000px;
  overflow-x: auto;
  background-color: #182829;
  border-radius: 10px;
  padding: 30px 10px 30px 10px;
  margin: 25px 0px 25px 0px;
  border: 2px solid #27a243;
}

.deceased-line-chart-bg-container {
  width: 90%;
  max-width: 1000px;
  overflow-x: auto;
  background-color: #1c1c2b;
  border-radius: 10px;
  padding: 30px 10px 30px 10px;
  margin: 25px 0px 25px 0px;
  border: 2px solid #6c757d;
}

.tested-line-chart-bg-container {
  width: 90%;
  max-width: 1000px;
  overflow-x: auto;
  background-color: #230f41;
  border-radius: 10px;
  padding: 30px 10px 30px 10px;
  margin: 25px 0px 25px 0px;
  border: 2px solid #9673b9;
}

.line-chart-heading {
  width: 90%;
  text-align: right;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .line-chart-heading {
    font-size: 16px;
  }
}

.confirmed-line-chart-heading {
  color: #ff073a;
}

.active-line-chart-heading {
  color: #2304f1;
}

.recovered-line-chart-heading {
  color: #27a243;
}

.deceased-line-chart-heading {
  color: #6c757d;
}

.tested-line-chart-heading {
  color: #9673b9;
  margin-bottom: 7px;
}

.chart-failure-bg-container {
  width: 90%;
  max-width: 1200px;
  margin: 0px 0px 0px 0px;
  padding: 30px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chart-failure-button {
  border: none;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  background-color: #2563eb;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 13px 25px 13px 25px;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .chart-failure-button {
    font-size: 20px;
  }
}
